<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Countries;Integrated Security=True;"
      providerName="System.Data.SqlClient" />
    <add name="DZ_Module_5_LINQ_to_SQL.Properties.Settings.StudentsConnectionString"
      connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Students;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
      providerName="System.Data.SqlClient" />
    <add name="DZ_Module_5_LINQ_to_SQL.Properties.Settings.CountriesConnectionString"
      connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Countries;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>